# dependencies
.idea
node_modules
*.md
src/*.md
src/**/*.md

# demo
build
src/app
src/content
src/index.html
src/favicon.ico
src/systemjs.config.js
bs-config.json
gulpfile.js

# typescript
*.ts
!*.d.ts

# git
.git
.gitignore

# type definition
typings
typings.json

# config
tsconfig.json

# misc
*.log
