md2-toast {
  display: block;
  box-sizing: border-box;
  cursor: default;
  overflow: hidden;
  min-width: 304px;
  max-width: 100%;
  padding: 8px;
  user-select: none;
}

.md2-toast {
  position: relative;
  padding: 14px 24px;
  margin-bottom: 5px;
  display: block;
  margin-top: -53px;
  opacity: 0;
  background-color: #323232;
  color: #fafafa;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 2px;
  font-size: 14px;
  overflow: hidden;
  word-wrap: break-word;
  transition: all 250ms linear;
}

.md2-toast.in {
  margin-top: 0;
  opacity: 1;
}

.cdk-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-transform: none;
  width: 1px;
}

.cdk-overlay-container, .cdk-global-overlay-wrapper {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cdk-overlay-container {
  position: fixed;
  z-index: 1000;
}

.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000;
}

.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
}
