<h1 class="page-header">Tabs<small>(<a target="_blank" href="https://github.com/promact/md2/tree/master/src/tabs/tabs">Md2Tabs</a>)</small></h1>
<section id="tabs">
  <div class="row">
    <div class="col-sm-6">
      <md2-tabs class="test" selectedIndex="3" (change)="change($event)">
        <md2-tab class="test" label="Static title">Static content</md2-tab>
        <md2-tab *ngFor="let tabz of tabs"
                 [label]="tabz.title"
                 [active]="tabz.active"
                 [disabled]="tabz.disabled">
          {{tabz.content}}
        </md2-tab>
        <md2-tab active="true">
          <template md2-tab-label>Static title211</template>
          Static content2
        </md2-tab>
      </md2-tabs>
    </div>
    <div class="col-sm-6">
      <p>The <strong>tabs component</strong> is to provide a tabs functionality.</p>
      <h3>Properties of md2-tabs</h3>
      <ul>
        <li><code>selectedIndex</code> (<code>?number=0</code>) - Index of the active/selected tab.</li>
        <li><code>class</code> (<code>?string=''</code>) - To set custom class on <code>md2-tabs</code> element.</li>
      </ul>
      <h3>Properties of md2-tab</h3>
      <ul>
        <li><code>label</code> (<code>?string=''</code>) - Optional attribute to specify a simple string as the tab label.</li>
        <li><code>active</code> (<code>?boolean='false'</code>) - To set as an active a tab.</li>
        <li><code>disabled</code> (<code>?boolean='false'</code>) - To set as an disabled a tab.</li>
        <li><code>class</code> (<code>?string=''</code>) - To set custom class on <code>md2-tab</code> element.</li>
      </ul>
      <h3>Events</h3>
      <ul>
        <li><code>change</code> - it fires after a tab has been changes; returns object of selected tab.</li>
      </ul>
    </div>
  </div>
</section>