<h1 class="page-header">Tabs<small>(<a target="_blank" href="https://github.com/promact/md2/tree/master/src/tabs/tabs">Md2Tabs</a>)</small></h1>
<section id="tabs">
  <div class="row">
    <div class="col-sm-6">
      <md2-tabs (change)="change($event)">
        <md2-tab header="Static title">Static content</md2-tab>
        <md2-tab *ngFor="let tabz of tabs"
                 [header]="tabz.title"
                 [active]="tabz.active"
                 [disabled]="tabz.disabled"
                 [removable]="tabz.removable">
          {{tabz.content}}
        </md2-tab>
        <md2-tab header="Static title2">Static content2</md2-tab>
      </md2-tabs>
    </div>
    <div class="col-sm-6">
      <p>The <strong>tabs component</strong> is to provide a tabs functionality.</p>
      <h3>md2-tabs settings</h3>
      <ul>
        <li><code>md-class</code> (<code>?string=''</code>) - To set class on tabset.</li>
      </ul>
      <h3>md2-tab settings</h3>
      <ul>
        <li><code>header</code> (<code>?string='text'</code>) - To set title of a tab.</li>
        <li><code>active</code> (<code>?boolean='false'</code>) - To set as an active a tab.</li>
        <li><code>disabled</code> (<code>?boolean='false'</code>) - To set as an disabled a tab.</li>
        <li><code>header-class</code> (<code>?string=''</code>) - To set class on title of tab.</li>
      </ul>
      <h3>Events</h3>
      <ul>
        <li><code>change</code> it fires after a tab has been changes; returns object of tab which has been selected.</li>
      </ul>
    </div>
  </div>
</section>