<div class="demo-datepicker">
  <h1>Datepicker</h1>
  <hr />
  <div class="card">
    <div class="header">
      <h3 class="title">Basic Date Picker</h3>
    </div>
    <form class="content">
      <md2-datepicker name="mindate"
                      placeholder="Minimum Date"
                      [(ngModel)]="minDate"
                      [mode]="mode"
                      [touchUi]="touch"
                      [format]="dateFormat"
                      #minDateControl="ngModel"></md2-datepicker>
      <md2-datepicker name="maxdate"
                      placeholder="Maximum Date"
                      [(ngModel)]="maxDate"
                      [min]="minDate"
                      [mode]="mode"
                      [touchUi]="touch"
                      [format]="dateFormat"
                      #maxDateControl="ngModel"></md2-datepicker>
      <br />
      <md2-datepicker name="birthdate"
                      placeholder="Select Date"
                      [(ngModel)]="date"
                      [required]="isRequired"
                      [disabled]="isDisabled"
                      [openOnFocus]="isOpenOnFocus"
                      [dateFilter]="filterOdd ? dateFilter : null"
                      [type]="type"
                      [min]="minDate"
                      [max]="maxDate"
                      [mode]="mode"
                      [touchUi]="touch"
                      [startView]="startView"
                      [format]="dateFormat"
                      #dateControl="ngModel" 
                      [id]="customID"></md2-datepicker>
      <br />
      <span class="error-helper" *ngIf="dateControl.touched && dateControl.errors?.required">Date is Required!</span>
      <span class="error-helper" *ngIf="dateControl.hasError('md2DatepickerMin')">Too early!</span>
      <span class="error-helper" *ngIf="dateControl.hasError('md2DatepickerMax')">Too late!</span>
      <span class="error-helper" *ngIf="dateControl.hasError('md2DatepickerFilter')">Date unavailable!</span>
      <p> Value: {{ date }} </p>
      <p> Touched: {{ dateControl.touched }} </p>
      <p> Dirty: {{ dateControl.dirty }} </p>
      <p> Status: {{ dateControl.control?.status }} </p>
      <div>
        <div class="inline-control">
          <md2-select name="type" [(ngModel)]="type" placeholder="Picker Type">
            <md2-option *ngFor="let t of types" [value]="t.value">{{ t.text }}</md2-option>
          </md2-select>
        </div>
        <div class="inline-control">
          <md2-select name="mode" [(ngModel)]="mode" placeholder="Picker Mode">
            <md2-option *ngFor="let m of modes" [value]="m.value">{{ m.text }}</md2-option>
          </md2-select>
        </div>
        <div class="inline-control">
          <md2-select name="startView" [(ngModel)]="startView" placeholder="Picker Start View">
            <md2-option *ngFor="let s of startViews" [value]="s.value">{{ s.text }}</md2-option>
          </md2-select>
        </div>
        <div class="inline-control">
          <md2-select name="container" [(ngModel)]="dateFormat" placeholder="Source format">
            <md2-option *ngFor="let c of dateFormats[type]" [value]="c.value">{{ c.name }}</md2-option>
          </md2-select>
        </div>
        <div class="inline-control">
          <input class="md2-input" name="formatInput" [(ngModel)]="dateFormat" placeholder="Date Format">
        </div>
        <div class="inline-control">
          <label class="checkbox">
            <input type="checkbox" name="required" [(ngModel)]="isRequired">
            <span class="checkbox-handle"></span>Required
          </label>
          <label class="checkbox">
            <input type="checkbox" name="disabled" [(ngModel)]="isDisabled">
            <span class="checkbox-handle"></span>Disabled
          </label>
          <label class="checkbox">
            <input type="checkbox" name="disabled" [(ngModel)]="isOpenOnFocus">
            <span class="checkbox-handle"></span>Open on focus
          </label>
          <label class="checkbox">
            <input type="checkbox" name="ui" [(ngModel)]="touch">
            <span class="checkbox-handle"></span>Use touch UI
          </label>
          <label class="checkbox">
            <input type="checkbox" name="filter" [(ngModel)]="filterOdd">
            <span class="checkbox-handle"></span>Filter odd months and dates
          </label>
        </div>
      </div>
      <div>
        <button type="button" button="primary" (click)="setDate()">SET VALUE</button>
        <button type="button" button="primary" (click)="minDateControl.reset();maxDateControl.reset();dateControl.reset()">RESET</button>
      </div>
    </form>
  </div>
</div>
