<div class="demo-select">
  <h1>Select</h1>
  <hr />
  <div class="card">
    <div class="header">
      <h3 class="title">Basic Select</h3>
    </div>
    <form class="content">
      <md2-select name="city"
                  placeholder="Select City"
                  [(ngModel)]="item"
                  [required]="isRequired"
                  [disabled]="isDisabled"
                  #selectControl="ngModel">
        <md2-select-header>
          <input name="search"
                 type="text"
                 placeholder="Search for Cities"
                 [(ngModel)]="_search" />
        </md2-select-header>
        <md2-option *ngFor="let i of items | dataPipe : _search" [value]="i.value">{{i.name}}</md2-option>
      </md2-select>
      <p> Value: {{ item }} </p>
      <p> Touched: {{ selectControl.touched }} </p>
      <p> Dirty: {{ selectControl.dirty }} </p>
      <p> Status: {{ selectControl.control?.status }} </p>
      <button type="button" button="primary" (click)="item='2'">SET VALUE</button>
      <button type="button" button="primary" (click)="isRequired=!isRequired">TOGGLE REQUIRED</button>
      <button type="button" button="primary" (click)="isDisabled=!isDisabled">TOGGLE DISABLED</button>
      <button type="button" button="primary" (click)="selectControl.reset()">RESET</button>
    </form>
  </div>
  <div class="card">
    <div class="header">
      <h3 class="title">Multiple Select</h3>
    </div>
    <form class="content">
      <md2-select name="pokemon"
                  multiple
                  placeholder="Pokemon"
                  [(ngModel)]="currentPokemon"
                  [required]="pokemonRequired"
                  [disabled]="pokemonDisabled"
                  #pokemonControl="ngModel">
        <md2-option *ngFor="let creature of pokemon" [value]="creature.value">
          {{ creature.viewValue }}
        </md2-option>
      </md2-select>
      <p> Value: {{ currentPokemon }} </p>
      <p> Touched: {{ pokemonControl.touched }} </p>
      <p> Dirty: {{ pokemonControl.dirty }} </p>
      <p> Status: {{ pokemonControl.control?.status }} </p>
      <button type="button" button="primary" (click)="setPokemonValue()">SET VALUE</button>
      <button type="button" button="primary" (click)="pokemonRequired=!pokemonRequired">TOGGLE REQUIRED</button>
      <button type="button" button="primary" (click)="pokemonDisabled=!pokemonDisabled">TOGGLE DISABLED</button>
      <button type="button" button="primary" (click)="pokemonControl.reset()">RESET</button>
    </form>
  </div>
</div>
