.md2-select-header {
  position: relative;
  display: block;
  height: 48px;
  padding-left: 10px;
  border-bottom: 1px solid rgba(black, 0.12);

  input {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0;
  }
}
