<h1 class="page-header">Toast<small>(<a target="_blank" href="https://github.com/promact/md2/tree/master/src/toast/toast">Md2Toast</a>)</small></h1>
<section id="toast">
  <div class="row">
    <div class="col-sm-6">
      <button class="btn btn-primary" (click)="toastMe()">Toast Me!</button>
    </div>
    <div class="col-sm-6">
      <p>The <strong>toast component</strong> is to provide a Toast notification functionality.</p>
      <h3>md2-toast settings</h3>
      <ul>
        <li><code>message</code> (<code>?string=''</code>) - To display toast message.<br></li>
        <li><code>hideDelay</code> (<code>?number=3000</code>) - it set as notification delay in ms.<br></li>
      </ul>
    </div>
  </div>
</section>