<h1 class="page-header">Tooltip<small>(<a target="_blank" href="https://github.com/promact/md2/tree/master/src/tooltip/tooltip">Md2Tooltip</a>)</small></h1>
<section id="tooltip">
  <div class="row">
    <div class="col-sm-6">
      <p>
        <span tooltip-direction="left" tooltip="On the Left!">Left</span> <br />
        <span tooltip-direction="right" tooltip="On the Right!">Right</span> <br />
        <span tooltip-direction="bottom" tooltip="On the Bottom!">Bottom</span> <br />
        <span tooltip-direction="top" tooltip="On the Top!">Top</span> <br />
        <span tooltip-delay='1000' tooltip='appears with delay'>Delayed 1 Second</span>
      </p>
    </div>
    <div class="col-sm-6">
      <p>The <strong>tooltip component</strong> is to provide a hint functionality.</p>
      <h3>md2-tooltip settings</h3>
      <ul>
        <li><code>tooltip</code> (<code>string</code>) - text of tooltip.</li>
        <li><code>tooltip-direction</code> (<code>?string='bottom'</code>) - tooltip direction instruction, supported positions: 'top', 'bottom', 'left', 'right'.</li>
        <li><code>tooltip-delay</code> (<code>?numer=0</code>) - time in milliseconds before tooltip occurs.</li>
      </ul>
    </div>
  </div>
</section>