<h1 class="page-header">Switch<small>(<a target="_blank" href="https://github.com/promact/md2/tree/master/src/switch/switch">Md2Switch</a>)</small></h1>
<section id="switch">
  <div class="row">
    <div class="col-sm-6">
      <md2-switch [(ngModel)]="switchState" [disabled]="disabled">Test Label</md2-switch>
      <md2-switch [(ngModel)]="switchState1" [disabled]="disabled">Test Label 1</md2-switch>
      <md2-switch [(ngModel)]="switchState2" [disabled]="disabled">Test Label 2</md2-switch>
      <md2-switch [(ngModel)]="switchState3" [disabled]="disabled">Test Label 3</md2-switch>
      <md2-switch [(ngModel)]="switchState4" [disabled]="disabled">Test Label 4</md2-switch>
      <md2-switch [(ngModel)]="switchState4" [disabled]="disabled">Test Label 4</md2-switch>
      <md2-switch [(ngModel)]="disabled">Disabled</md2-switch>
    </div>
    <div class="col-sm-6">
      <p>The <strong>switch component</strong> is to provide a toggling functionality.</p>
      <h3>md2-switch settings</h3>
      <ul>
        <li><code>disabled</code> (<code>?boolean=false</code>) - When <code>true</code>, it specifies that the component should be disabled.<br></li>
        <li><code>ariaLabel</code> (<code>?string=''</code>) - AreaLabel text should be set.</li>
        <li><code>id</code> (<code>?number=autoId</code>) - Id of switch component should be set.<br></li>
        <li><code>tabindex</code> (<code>?number=0</code>) - Tab index of Switch should be set.</li>
      </ul>
      <h3>Events</h3>
      <ul>
        <li><code>change</code> - it fires after a chage status of switch; returns object with true/false new status of switch.</li>
      </ul>
    </div>
  </div>
</section>