// Variables
$white: #ffffff !default;
$black: #000000 !default;
$bg-color: darken($white, 3);
$primary: #106CC8;
$secondary: #ff6a00;

// Fonts
@font-face { font-family: 'Roboto-Regular'; src: url('../fonts/Roboto-Regular.ttf') format('truetype'); }

// Common
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary { display: block; }

a { color: $primary; text-decoration: none;
  &:hover,
  &:focus { color: darken($primary,3); text-decoration: underline; }
}
hr { margin-top: 15px; margin-bottom: 15px; border: 0; border-top: 1px solid rgba($black,0.12); }
.btn { position: relative; display: inline-block; box-sizing: border-box; background: transparent; text-align: center; overflow: hidden; cursor: pointer; outline: none; border: none; white-space: nowrap; text-decoration: none; vertical-align: middle; font-size: 14px; font-weight: 500; text-transform: uppercase; padding: 0 16px; margin: 6px 8px; min-width: 88px; line-height: 36px; border-radius: 3px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); box-shadow: 0 2px 5px 0 rgba($black, 0.26); color: rgba($black, 0.9); background-color: #fafafa;
  &:hover,
  &:focus { text-decoration: none; }
  &:active { box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4); }
  &[disabled] { pointer-events: none; cursor: default; opacity: 0.8; box-shadow: none; }
  &.btn-primary { color: $white; background: $primary; }
  &.btn-block { width: 100%; }
  &.btn-lg { font-size: 16px; padding: 0 12px; min-width: 128px; line-height: 48px; border-radius: 4px; }
}

// Layout
html, body { position: relative; min-height: 100%; margin: 0; padding: 0; font-family: "Roboto-Regular","Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 15px; font-weight: 400; line-height: 1.42857143; color: rgba($black,0.7); background-color: $white; -webkit-tap-highlight-color: $white; -webkit-touch-callout: none; }

.loading-demo { display: block; padding: 100px 16px 0; box-sizing: border-box; background-color: $primary; height: 256px; color: $white;
  h1 { margin: 0 auto; width: 80%; font-size: 48px; font-weight: 400; }
  h4 { margin: 0 auto; width: 80%; font-size: 18px; font-weight: 400; }
}

@media (max-width: 767px) {
  .loading-demo { padding: 100px 16px 0; height: 256px;
    h1 { width: 100%; font-size: 32px; }
    h4 { width: 100%; font-size: 16px; }
  }
}

.sidenav { position: fixed; top: 0; bottom: 0; left: 0; width: 280px; height: 100%; padding: 10px 0; margin: 0; background-color: $white; z-index: 999; overflow: hidden; box-shadow: 0 0 8px rgba($black,0.3); -moz-transition: 0.3s ease-in-out; -o-transition: 0.3s ease-in-out; -webkit-transition: 0.3s ease-in-out; transition: 0.3s ease-in-out;
  &:hover { overflow-y: auto; }
  header { padding: 0 16px; border-bottom: 1px solid rgba($black,0.12); text-align: center;
    a, a:hover, a:focus, a:active, a:visited { color: $primary; text-decoration: none; }
    img { max-height: 100px; }
    h3 { white-space: nowrap; }
  }
  ul { display: block; margin: 0; padding: 3px 0;
    li { display: block;
      a { display: block; color: rgba($black,0.6); font-size: 16px; padding: 8px 16px 8px 10px; text-decoration: none; border-left: 6px solid transparent;
        &:hover, &:focus, &:active { text-decoration: none; background: rgba($black,0.1); }
      }
      &.active {
        a, a:hover, a:focus, a:active { border-left-color: $primary; background: rgba($black,0.15); }
      }
    }
  }
}

.main { position: relative; margin-left: 280px; padding: 0 30px 100px; min-height: 100%;
  .toolbar { position: relative; margin: 0 -30px; padding: 0 30px; color: $white; background: rgba($primary,0.9); box-shadow: 0 0 8px rgba($black,0.3);
    .sidenav-toggle { position: relative; float: left; display: none; outline: none; padding: 16px; margin: 2px 0 0 -16px; background: transparent; border: 1px solid transparent; border-radius: 4px; font-size: 16px; color: $white; }
    h3 { margin: 0; padding: 15px 0; }
  }
  .footer { position: absolute; border-top: 1px solid rgba($black,0.2); margin-top: 30px; padding: 15px 30px; right: 0; bottom: 0; left: 0; }
  /*.footer { margin: 0 -30px; padding: 0 1em; background: $primary; color: $white; font-size: 20px;
    .footer-container { white-space: nowrap; max-width: 940px; margin: auto; padding: 20px 25px;
      .previous, .next { display: inline-block; width: 50%; text-align: left; line-height: 88px; cursor: pointer; }
      .mdi { margin: 22px 10px 0; float: left; font-size: 24px;
        & + span { display: inline-block; line-height: normal; }
      }
      .next { text-align: right;
        .mdi { float: right; }
      }
      .label { display: block; opacity: 0.5; }
    }
  }*/ }

@media (max-width: 767px) {
  .sidenav { -moz-transform: translateX(-100%); -ms-transform: translateX(-100%); -o-transform: translateX(-100%); -webkit-transform: translateX(-100%); transform: translateX(-100%);
    &.open { -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); -webkit-transform: translateX(0); transform: translateX(0); }
  }
  .main { margin-left: 0; padding: 60px 15px 100px;
    .toolbar { position: fixed; top: 0; width: 100%; margin: 0 -15px; padding: 0 15px; z-index: 111;
      .sidenav-toggle { display: block; }
    }
  }
}
