.md2-dialog-panel {
  position: relative;
  max-width: 90vw;
  width: 600px;
  border-radius: 3px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 11px 15px -7px rgba(black, 0.2), 0 24px 38px 3px rgba(black, 0.14), 0 9px 46px 8px rgba(black, 0.12);
}

.md2-dialog-content {
}

.md2-dialog-header {
  background: #2196f3;
  color: #fff;
  font-size: 25px;
  line-height: 1.1;
  font-weight: 500;
  padding: 0 48px 0 16px;
  border-bottom: 1px solid #e5e5e5;
  word-wrap: break-word;

  .close {
    position: absolute;
    top: 21px;
    right: 16px;
    display: inline-block;
    width: 18px;
    height: 18px;
    overflow: hidden;
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    outline: 0;
    opacity: 0.8;
    font-size: 0;
    z-index: 1;
    min-width: initial;
    box-shadow: none;
    margin: 0;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      margin-top: -1px;
      background: #ccc;
      border-radius: 2px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover {
      opacity: 1;
    }
  }

  md2-dialog-title,
  .md2-dialog-title {
    display: block;
    margin: 0;
    padding: 16px 0;
    font-size: 25px;
    font-weight: 500;
  }

  dialog-header {
    line-height: 33px;
  }
}

.md2-dialog-body {
  position: relative;
  max-height: 65vh;
  padding: 16px;
  overflow-y: auto;
}

.md2-dialog-footer,
md2-dialog-footer {
  display: block;
  padding: 16px;
  text-align: right;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.cdk-overlay-container, .cdk-global-overlay-wrapper {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cdk-overlay-container {
  position: fixed;
  z-index: 1000;
}

.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000;
}

.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
}

.cdk-overlay-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: auto;
  transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 0;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0.48;
}

.cdk-overlay-dark-backdrop {
  background: rgba(black, 0.6);
}
