md2-select {
  display: inline-block;
  outline: none; }

.md2-select-trigger {
  color: rgba(0, 0, 0, 0.38);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  min-width: 112px;
  cursor: pointer;
  position: relative;
  box-sizing: border-box; }
  [aria-disabled='true'] .md2-select-trigger {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0.26) 33%, transparent 0%);
    background-size: 4px 1px;
    background-repeat: repeat-x;
    border-bottom: transparent;
    background-position: 0 bottom;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  md2-select:focus:not(.md2-select-disabled) .md2-select-trigger {
    color: #3f51b5;
    border-bottom: 1px solid #3f51b5; }
  md2-select.ng-invalid.ng-touched:not(.md2-select-disabled) .md2-select-trigger {
    color: #f44336;
    border-bottom: 1px solid #f44336; }

.md2-select-placeholder {
  position: relative;
  padding: 0 2px;
  transform-origin: left top; }
  .md2-select-placeholder.md2-floating-placeholder {
    top: -22px;
    left: -2px;
    transform: scale(0.75); }
  [dir='rtl'] .md2-select-placeholder {
    transform-origin: right top; }
    [dir='rtl'] .md2-select-placeholder.md2-floating-placeholder {
      left: 2px; }
  [aria-required=true] .md2-select-placeholder::after {
    content: '*'; }

.md2-select-value {
  position: absolute;
  left: 0;
  top: 6px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.87); }
  .md2-select-disabled .md2-select-value {
    color: rgba(0, 0, 0, 0.38); }
  [dir='rtl'] .md2-select-value {
    left: auto;
    right: 0; }

.md2-select-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid;
  margin: 0 4px;
  color: rgba(0, 0, 0, 0.38); }
  md2-select:focus:not(.md2-select-disabled) .md2-select-arrow {
    color: #3f51b5; }
  md2-select.ng-invalid.ng-touched:not(.md2-select-disabled) .md2-select-arrow {
    color: #f44336; }

.md2-select-panel {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  min-width: 112px;
  max-width: 280px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding-top: 0;
  padding-bottom: 0;
  max-height: 256px; }

.md2-select-content {
  background: white; }

md2-option {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
  padding: 0 16px;
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-align: start;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  outline: none; }
  md2-option[aria-disabled='true'] {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  md2-option:hover:not(.md2-option-disabled), md2-option:focus:not(.md2-option-disabled) {
    background: rgba(0, 0, 0, 0.04); }
  md2-option.md2-selected {
    background: rgba(0, 0, 0, 0.04);
    color: #3f51b5; }
  md2-option.md2-option-disabled {
    color: rgba(0, 0, 0, 0.38); }

/*# sourceMappingURL=select.css.map */
