.md2-optgroup-label {
  color: rgba(black, 0.54);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 48px;
  height: 48px;
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  user-select: none;
  cursor: default;
  font-weight: 700;
  font-size: 14px;
}

.md2-optgroup-disabled .md2-optgroup-label {
  color: rgba(black, 0.38);
}
