md2-tags {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

md2-tags:focus {
  outline: none;
}

md2-tags .md2-tags-container {
  position: relative;
  display: block;
  max-width: 100%;
  padding: 2px 3px 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.38);
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  min-width: 64px;
  min-height: 26px;
  cursor: text;

  &::before, &::after {
    display: table;
    content: ' ';
  }

  &::after {
    clear: both;
  }
}

md2-tags.focus .md2-tags-container {
  padding-bottom: 7px;
  border-bottom: 2px solid #106cc8;
}

md2-tags.md2-tags-disabled .md2-tags-container {
  color: rgba(0, 0, 0, 0.38);
  cursor: default;
}

md2-tags.md2-tags-disabled.focus .md2-tags-container {
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.38);
}

md2-tags .md2-tags-container .md2-tag {
  position: relative;
  cursor: default;
  border-radius: 16px;
  display: block;
  height: 32px;
  line-height: 32px;
  margin: 8px 8px 0 0;
  padding: 0 26px 0 12px;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  background: #e0e0e0;
  color: rgb(66, 66, 66);
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

md2-tags .md2-tags-container .md2-tag.active {
  background: #106cc8;
  color: rgba(255, 255, 255, 0.87);
}

md2-tags .md2-tags-container .md2-tag svg {
  position: absolute;
  top: 4px;
  right: 2px;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  fill: currentColor;
  color: rgba(0, 0, 0, 0.54);
}

md2-tags .md2-tag.active svg {
  color: rgba(255, 255, 255, 0.87);
}

md2-tags .md2-tag-add {
  position: relative;
  display: inline-block;
}

md2-tags input {
  border: 0;
  outline: 0;
  margin-top: 8px;
  height: 32px;
  line-height: 32px;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  background: 0 0;
}

md2-tags .md2-tags-container .md2-tags-placeholder {
  color: rgba(0, 0, 0, 0.38);
}

md2-tags .md2-tags-menu {
  position: absolute;
  left: 0;
  top: 100%;
  display: block;
  z-index: 10;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
  margin: 6px 0 0;
  padding: 8px 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  max-height: 256px;
  min-height: 48px;
  overflow-y: auto;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  background: #fff;
}

md2-tags .md2-tags-menu .md2-option {
  cursor: pointer;
  position: relative;
  display: block;
  color: #212121;
  align-items: center;
  width: auto;
  transition: background 150ms linear;
  padding: 0 16px;
  height: 48px;
  line-height: 48px;
}

md2-tags .md2-tags-menu .md2-option:hover, md2-tags .md2-tags-menu .md2-option.focused {
  background: #eeeeee;
}

md2-tags .md2-tags-menu .md2-option .md2-option-text {
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-size: 16px;
}

md2-tags .highlight {
  color: #757575;
}
