<div class="demo-datepicker">
  <h1>Datepicker</h1>
  <hr />
  <div class="card">
    <div class="header">
      <h3 class="title">Basic Date Picker</h3>
    </div>
    <form class="content">
      <md2-datepicker name="birthdate"
                      placeholder="Select Date"
                      [(ngModel)]="date"
                      [required]="isRequired"
                      [disabled]="isDisabled"
                      [openOnFocus]="isOpenOnFocus"
                      [isOpen]="isOpen"
                      [type]="type"
                      [enableDates]="enableDates"
                      [disableDates]="disableDates"
                      [disableWeekDays]="disableWeekDays"
                      [min]="minDate"
                      [max]="maxDate"
                      [mode]="mode"
                      [container]="container"
                      #dateControl="ngModel"></md2-datepicker>
      <p> Value: {{ date }} </p>
      <p> Touched: {{ dateControl.touched }} </p>
      <p> Dirty: {{ dateControl.dirty }} </p>
      <p> Status: {{ dateControl.control?.status }} </p>
      <div>
        <div class="inline-control">
          <md2-select name="type" [(ngModel)]="type" placeholder="Picker Type">
            <md2-option *ngFor="let t of types" [value]="t.value">{{ t.text }}</md2-option>
          </md2-select>
        </div>
        <div class="inline-control">
          <md2-select name="mode" [(ngModel)]="mode" placeholder="Picker Mode">
            <md2-option *ngFor="let m of modes" [value]="m.value">{{ m.text }}</md2-option>
          </md2-select>
        </div>
        <div class="inline-control">
          <md2-select name="container" [(ngModel)]="container" placeholder="Picker Container">
            <md2-option *ngFor="let c of containers" [value]="c.value">{{ c.text }}</md2-option>
          </md2-select>
        </div>
      </div>
      <div>
        <button type="button" button="primary" (click)="setDate()">SET VALUE</button>
        <button type="button" button="primary" (click)="setDateRange()">SET RANGE</button>
        <button type="button" button="primary" (click)="isRequired=!isRequired">TOGGLE REQUIRED</button>
        <button type="button" button="primary" (click)="isDisabled=!isDisabled">TOGGLE DISABLED</button>
        <button type="button" button="primary" (click)="isOpenOnFocus=!isOpenOnFocus">TOGGLE OPEN ON FOCUS</button>
        <button type="button" button="primary" (click)="openDatepicker()">OPEN DATEPICKER</button>
        <button type="button" button="primary" (click)="dateControl.reset()">RESET</button>
      </div>
    </form>
  </div>
</div>
