<h1 class="page-header">Dialog<small>(<a target="_blank" href="https://github.com/promact/md2/tree/master/src/dialog/dialog">Md2Dialog</a>)</small></h1>
<section id="dialog">
  <div class="row">
    <div class="col-sm-6">
      <button class="btn btn-primary" type="button" (click)="launchDialog(dialog)">Launch Dialog</button>
      <button class="btn btn-primary" type="button" (click)="launchDialog(dialog1)">Launch Dialog1</button>
    </div>
    <div class="col-sm-6">
      <p>The <strong>dialog component</strong> is to provide a Modal Popup functionality.</p>
      <h3>md2-dialog settings</h3>
      <ul>
        <li><code>[close-button]</code> <em>- boolean - (Default: <code>true</code>)(Optional)</em> Takes a boolean that causes the close button to be displayed in the top right corner</li>
        <li><code>[close-on-unfocus]</code> <em>- boolean - (Default: <code>true</code>)(Optional)</em>- Takes a boolean that causes the dialog to close when a user clicks outside of the dialog</li>
        <li><code>[dialog-header]</code> <em>- string - (Default: <code>null</code>)(Optional)</em> - The heading of the dialog</li>
      </ul>
      <h3>Open/Close Dialog</h3>
      <p>Use the component's <code>show()</code>, <code>hide()</code> and <code>toggle(visible: boolean)</code> method to properly trigger the dialog's display. Reference the dialog using in your view to have access to the method to use.</p>
    </div>
  </div>
  <md2-dialog #dialog [dialog-header]="dialogHeader">
    <div class="md2-dialog-body">
      <p>Body of Dialog...</p>
      <button class="btn btn-primary" type="button" (click)="launchDialog(dialog1)">Launch Dialog1</button>
    </div>
    <div class="md2-dialog-footer">
      <button type="button" class="btn btn-primary" (click)="dialog.hide()">Close</button>
    </div>
  </md2-dialog>
  <md2-dialog #dialog1>
    <dialog-header>
      <strong>Hi</strong> Test Title
    </dialog-header>
    <div class="md2-dialog-body">
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
    </div>
    <div class="md2-dialog-footer">
      <button type="button" class="btn btn-primary" (click)="dialog1.hide()">Close</button>
    </div>
  </md2-dialog>
</section>


<h1 class="page-header">Dialog Component</h1>
<div>






</div>