<h1 class="page-header">Accordion<small>(<a target="_blank" href="https://github.com/promact/md2/tree/master/src/components/accordion">Md2Accordion</a>)</small></h1>
<section id="accordion">
  <div class="row">
    <div class="col-sm-6">
      <md2-accordion [multiple]="multiple">
        <md2-accordion-tab *ngFor="let tab of accordions" [header]="tab.title" [active]="tab.active" [disabled]="tab.disabled">
          {{tab.content}}
        </md2-accordion-tab>
      </md2-accordion>
      <br />
      <md2-accordion [multiple]="multiple">
        <md2-accordion-tab *ngFor="let tab of accordions" [header]="tab.title" [active]="tab.active" [disabled]="tab.disabled">
          {{tab.content}}
        </md2-accordion-tab>
      </md2-accordion>
    </div>
    <div class="col-sm-6">
      <p>The <strong>accordion component</strong> builds on top of the collapse directive to provide a list of items, with collapsible bodies that are collapsed or expanded by clicking on the item's header.</p>
      <p>The body of each accordion group is transcluded into the body of the collapsible element.</p>
      <h3>Properties of md2-accordion</h3>
      <ul>
        <li><code>multiple</code> - (<code>?boolean=false</code>) - Control whether expanding an item will cause the other items to close.</li>
        <li><code>class</code> (<code>?string=''</code>) - To set custom class on <code>md2-accordion</code> element.</li>
      </ul>
      <h3>Properties of md2-accordion-tab</h3>
      <ul>
        <li><code>header</code> - (<code>?string=''</code>) - The clickable text on the tab's header. You need one to be able to click on the header for toggling.</li>
        <li><code>disabled</code> (<code>?boolean=false</code>) - Whether the accordion tab is disabled or not.</li>
        <li><code>active</code> (<code>?boolean=false</code>) - Whether accordion tab is open or closed.</li>
        <li><code>class</code> (<code>?string=''</code>) - To set custom class on <code>md2-accordion-tab</code> element.</li>
      </ul>
      <h3>Events</h3>
      <ul>
        <li><code>open</code> - It fires after a open tab.</li>
        <li><code>close</code> - It fires after a close tab.</li>
      </ul>
    </div>
  </div>
  <hr />
</section>