$white: #ffffff !default;
$black: #000000 !default;
$bg-color: darken($white, 3);
$primary: #106CC8;
$secondary: #ff6a00;

//Fonts
@font-face { font-family: 'Roboto-Regular'; src: url('../fonts/Roboto-Regular.ttf') format('truetype'); }

//Common
img { display: block; margin: 0 auto; max-width: 100%; }
menu { margin: 0; padding: 0; }
.page-header { border-color: rgba($black,0.2); }
.btn { border-radius: 3px; border-color: rgba($black,0.2) !important;
  &.btn-primary { background-color: $primary;
    &:hover, &:focus, &:active, &:active:hover { background-color: lighten($primary,5); }
  }
}
body { position: relative; font-family: "Roboto-Regular","Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 15px; line-height: 1.42857143; color: rgba($black,0.7); background-color: $bg-color; height: 100%; }
.side-nav { position: fixed; left: 0; top: 0; padding: 10px 0; margin: 0; height: 100%; background-color: #fff; z-index: 999; overflow-y: auto; box-shadow: 0 0 8px rgba($black,0.3); -moz-transition: 0.3s ease-in-out; -o-transition: 0.3s ease-in-out; -webkit-transition: 0.3s ease-in-out; transition: 0.3s ease-in-out;
  .logo { padding: 0 16px; border-bottom: 1px solid rgba($black,0.12);
    a, a:hover, a:focus, a:active, a:visited { color: $primary; text-decoration: none; }
    img { max-height: 100px; }
    h4 { white-space: nowrap; text-align: center; }
  }
  ul { display: block; margin: 0; padding: 3px 0;
    li { display: block;
      a { display: block; color: rgba($black,0.6); font-size: 16px; padding: 8px 16px 8px 10px; text-decoration: none; border-left: 6px solid transparent;
        &:hover, &:focus, &:active { text-decoration: none; background: rgba($black,0.1); }
      }
      &.active {
        a, a:hover, a:focus, a:active { border-left-color: $secondary; background: rgba($black,0.15); }
      }
    }
  }
}

.content { position: relative; padding: 0 30px 100px; min-height: 100%; }
.header { position: relative; margin: 0 -30px; padding: 0 30px; color: $white; background: rgba(darken($primary,3),0.9); box-shadow: 0 0 8px rgba($black,0.3);
  .nav-toggle { position: relative; float: left; display: none; outline: none; padding: 16px; margin: 6px 0 0 -16px; background: transparent; border: 1px solid transparent; border-radius: 4px;
    .bar { display: block; width: 22px; height: 2px; background-color: rgba($white,0.8);
      & + .bar { margin-top: 4px; }
    }
  }
  h2 { margin: 0; padding: 15px 0; }
}
.footer { position: absolute; border-top: 1px solid rgba($black,0.2); margin-top: 30px; padding: 15px 30px; right: 0; bottom: 0; left: 0; }


@media (max-width: 767px) {
  .side-nav-backdrop { display: block; position: fixed; top: 0; bottom: 0; left: 0; background: rgba($black,0.5); width: 100%; z-index: 998; }
  .side-nav { -moz-transform: translateX(-100%); -ms-transform: translateX(-100%); -o-transform: translateX(-100%); -webkit-transform: translateX(-100%); transform: translateX(-100%);
    &.open { -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); -webkit-transform: translateX(0); transform: translateX(0); }
  }
  .content { padding: 60px 15px 100px; }
  .header { position: fixed; top: 0; width: 100%; margin: 0 -15px; padding: 0 15px; z-index: 111;
    .nav-toggle { display: block; }
  }
  .footer { padding: 15px; }
}

.home-page {
  .btn { margin-bottom: 10px; }
}
