<h2> Component</h2>

<h1 class="page-header">Multiselect<small>(<a target="_blank" href="https://github.com/promact/md2/tree/master/src/multiselect/multiselect">Md2Multiselect</a>)</small></h1>
<section id="multiselect">
  <div class="row">
    <div class="col-sm-6">
      <md2-multiselect [items]="items"
                       [item-text]="'name'"
                       [(ngModel)]="item"
                       [disabled]="disabled"
                       (change)="change($event)"
                       placeholder="No city selected">
      </md2-multiselect>
      <hr />
      <pre>{{item | json}}</pre>
      <md2-multiselect [items]="items"
                       [item-text]="'name'"
                       [(ngModel)]="item"
                       [disabled]="disabled"
                       (change)="change($event)"
                       placeholder="No city selected">
      </md2-multiselect>
    </div>
    <div class="col-sm-6">
      <p>The <strong>multiselect component</strong> is to provide a multi select functionality.</p>
      <h3>md2-multiselect settings</h3>
      <ul>
        <li>
          <code>items</code> - (<code>Array&lt;any&gt;</code>) - Array of items from which to select. Should be an array of objects with <code>value</code> and <code>text</code> properties.
          As convenience, you may also pass an array of strings, in which case the same string is used for both the VALUE and the text.
          Items may be nested by adding a <code>children</code> property to any item, whose value should be another array of items. Items that have children may omit having an ID.
          If <code>items</code> are specified, all items are expected to be available locally and all selection operations operate on this local array only.
          If omitted, items are not available locally, and the <code>query</code> option should be provided to fetch data.
        </li>
        <li>
          <code>ngModel</code> (<code>?Array&lt;any&gt;</code>) - two way data binding. This should be an array with single string or object of <code>value</code> and <code>text</code> properties in the case of input type 'Single',
          or an array of such objects otherwise. This option is mutually exclusive with value.
        </li>
        <li><code>placeholder</code> (<code>?string=''</code>) - Placeholder text to display when the element has no focus and selected items.</li>
        <li><code>disabled</code> (<code>?boolean=false</code>) - When <code>true</code>, it specifies that the component should be disabled.</li>
        <li><code>item-text</code> (<code>?string='text'</code>) - When items array is different with object properties then map 'text' property with the array.</li>
      </ul>
      <h3>Events</h3>
      <ul>
        <li><code>change</code> - it fires after a new option selected; returns object with <code>value</code> and <code>text</code> properties that describes a new option.</li>
      </ul>
    </div>
  </div>
</section>